{{extend 'layout.html'}}

<h2>Registro climatico</h2><p>{{=form}}</p>

<a href="https://www.accuweather.com/es/ar/buenos-aires/7894/weather-forecast/7894" class="aw-widget-legal">
<!--
By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.
-->
</a><div id="awcc1507744099457" class="aw-widget-current"  data-locationkey="7894" data-unit="c" data-language="es" data-useip="false" data-uid="awcc1507744099457"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
